<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/images/portfolio/portfolio-settings.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/images/portfolio/portfolio-menu.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/images/portfolio/portfolio-aboutPortfolio.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/images/portfolio/portfolio-listInsurers.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/images/portfolio/portfolio-detailInsurer.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/images/portfolio/portfolio-loginAfterRegistration.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/images/portfolio/portfolio-dashboard.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/images/portfolio/portfolio-insuranceContracts.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/images/portfolio/portfolio-message.png" />
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-button
    expand="full"
    color="primary"
    routerLink="/"
    routerDirection="forward"
  >
    {{ 'INTRO.Start' | translate }}
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-footer>
